* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
}

p {
    color: #4F4F4F;
}

.wrapper-conteudo {
    width: 100%;
    min-height: 100vh;
}

.conteudo {
    margin: 0 auto;
}

.subtitulo {
    font-size: 3rem;
}

.titulo,
.subtitulo {
    color: #4A188C;
    font-weight: bold;
}

.titulo,
.subtitulo,
p {
    text-align: center;
}

.fonte {
    text-align: right;
    font-size: small;
}

.destaque {
    color: #FF36AB;
}

.wrapper-imagem {
    background-color: #4F4F4F;
    transform: rotate(2deg);
    border-radius: 10px;
}

.wrapper-imagem img {
    border-radius: 10px;
    width: 100%;
    transform: rotate(-4deg);
}